form#form(action='/api/uploads' method='post' enctype='multipart/form-data')
  p
    | CSV File: 
    input(type='file' name='file')
  p
    input(type='submit' value='Upload')
script.
  const form = document.getElementById('form');
  form.onsubmit = (event) => {
  event.preventDefault()
  fetch('/api/uploads', {
        method: 'POST',
        body: new FormData(form),
        headers: {
            "x-auth-token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2NTg5OGUxYzViYzZkNTBjOGNiNDNiN2IiLCJpc0FkbWluIjp0cnVlLCJpYXQiOjE3MDM1MTM2Mjh9.lpaLbRSLuJBPs_r4UUzi5niItcXjtamqKZgqLmE4AGo"
        }
        }).then((response) => {
                console.log(response)
        })
  }
