form#form(action='/api/uploads/start' method='post' enctype='multipart/form-data')
  p
    | CSV File: 
    input(type='file' name='file')
  p
    input(type='submit' value='Upload')
script.
  const form = document.getElementById('form');
  form.onsubmit = (event) => {
  event.preventDefault()
  fetch('/api/uploads/start', {
        method: 'POST',
        body: new FormData(form),
        headers: {
            "x-auth-token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2NTk1NjNkOTk0MmJhNTJlODY4MTU5YWMiLCJpc0FkbWluIjp0cnVlLCJpYXQiOjE3MDQyODkyNDF9.GRFMo2mME0AaME1xPZ95it_iRAgmU7bFGN47cCW_RZI"
        }
        }).then((response) => {
                console.log(response)
        })
  }
