form#form(action='/api/uploads' method='post' enctype='multipart/form-data')
  p
    | CSV File: 
    input(type='file' name='file')
  p
    input(type='submit' value='Upload')
script.
  const form = document.getElementById('form');
  form.onsubmit = (event) => {
  event.preventDefault()
  fetch('/api/uploads', {
        method: 'POST',
        body: new FormData(form),
        headers: {
            "x-auth-token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2NTg5ZWY3YTE5OGI0YmY0ZDQ0NWI3YzEiLCJpc0FkbWluIjp0cnVlLCJpYXQiOjE3MDM1Mzg1NTR9.xKB6TAS5Q410-3MXhG3BKhoD6kz22UcU9YLoAbtBrjQ"
        }
        }).then((response) => {
                console.log(response)
        })
  }
